.icon-bar {
    width: 90px; 
    background-color: #555; 
}

.icon-bar a {
    display: block;
    text-align: center; 
    padding: 16px; 
    transition: all 0.3s ease; 
    color: white; 
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: rgb(121, 115, 115); /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-left: 150px;
    padding-right: 150px;
  background-color: azure;
    
}section{

width: 100%;
height:650px;
background: url(349835.jpg);
position: relative;
overflow:hidden;




}.overlay{

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 255,.7)

}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    display: flex;
    margin-bottom: 5px;
    
}

.navbar a {
  padding-top: 15px; 
  float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}.navbar a:hover{
 color: #555;
    
}.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: rgb(6, 185, 230);
  color:black;
  font-size: 16px;
  padding: 16px 32px;
}
.heading1{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(232, 238, 248);
    
}